<div class="container">
  <span
    [style.background-color]="extended ? 'var(--secondary)' : ''"
    [style.width]="extended ? '100%' : ''"
    class="line top"
    style="grid-row: 1"
  ></span>
  <span
    [style.background-color]="extended ? 'var(--secondary)' : ''"
    [style.width]="extended ? '100%' : ''"
    class="line middle"
    style="grid-row: 2"
  ></span>
  <span
    [style.background-color]="extended ? 'var(--secondary)' : ''"
    [style.width]="extended ? '100%' : ''"
    class="line bottom"
    style="grid-row: 3"
  ></span>
</div>
